<footer>
    
    <div class="container">
        <div class="footer-counter-wrap">
            <div class="row">
                <div class="col-12">
                    <div class="fcw-title text-center mb-45">
                        <h4 class="title">world LARGEST HEALTHCARE PLATFORM</h4>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="160"></span>M+</h2>
                        <p>Visitors</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="27"></span>M+</h2>
                        <p>Orders Delivered</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="counter-item mb-30">
                        <h2 class="count"><span class="odometer" data-count="190"></span>K+</h2>
                        <p>Cities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="copyright-text">
                        <p>Copyright © 2023 Yed. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment-method-img text-center text-md-right">
                        <img src="img/images/card.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>